body {
  // background-color: blueviolet;
  div {
    color: #e44;
    font-size: 18px;
    text-align: center;
  }
  .img-div {
    width: 200px;
    height: 200px;
    background: url('~src/assets/img/time.jpg');
  }
}